.title, .discription{
    text-align: center;
    margin-top: 1%;
}
.button-panel{
    display: flex;
    margin: auto;
    margin-top: 5%;
    justify-content: center;
    width: 40%;
}
.button-panel > button{
    flex: 1 1 0;
    height: 80px;
    margin-right: 5%;
    font-weight: bold;
}